Madis/SmartTeste_MP/Web References/teste/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://127.0.0.1/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://127.0.0.1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://127.0.0.1/">
      <s:element name="insere">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Matricula" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="equipamento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Sentido" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="status_sentido" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="area_de" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="area_para" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insereResponse">
        <s:complexType />
      </s:element>
      <s:element name="consulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insereSoapIn">
    <wsdl:part name="parameters" element="tns:insere" />
  </wsdl:message>
  <wsdl:message name="insereSoapOut">
    <wsdl:part name="parameters" element="tns:insereResponse" />
  </wsdl:message>
  <wsdl:message name="consultaSoapIn">
    <wsdl:part name="parameters" element="tns:consulta" />
  </wsdl:message>
  <wsdl:message name="consultaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaResponse" />
  </wsdl:message>
  <wsdl:message name="insereHttpGetIn">
    <wsdl:part name="Matricula" type="s:string" />
    <wsdl:part name="pes" type="s:string" />
    <wsdl:part name="equipamento" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="Sentido" type="s:string" />
    <wsdl:part name="status_sentido" type="s:string" />
    <wsdl:part name="area_de" type="s:string" />
    <wsdl:part name="area_para" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insereHttpGetOut" />
  <wsdl:message name="consultaHttpGetIn">
    <wsdl:part name="matricula" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insereHttpPostIn">
    <wsdl:part name="Matricula" type="s:string" />
    <wsdl:part name="pes" type="s:string" />
    <wsdl:part name="equipamento" type="s:string" />
    <wsdl:part name="Data" type="s:string" />
    <wsdl:part name="Sentido" type="s:string" />
    <wsdl:part name="status_sentido" type="s:string" />
    <wsdl:part name="area_de" type="s:string" />
    <wsdl:part name="area_para" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insereHttpPostOut" />
  <wsdl:message name="consultaHttpPostIn">
    <wsdl:part name="matricula" type="s:string" />
  </wsdl:message>
  <wsdl:message name="consultaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="insere">
      <wsdl:input message="tns:insereSoapIn" />
      <wsdl:output message="tns:insereSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <wsdl:input message="tns:consultaSoapIn" />
      <wsdl:output message="tns:consultaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="insere">
      <wsdl:input message="tns:insereHttpGetIn" />
      <wsdl:output message="tns:insereHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <wsdl:input message="tns:consultaHttpGetIn" />
      <wsdl:output message="tns:consultaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="insere">
      <wsdl:input message="tns:insereHttpPostIn" />
      <wsdl:output message="tns:insereHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <wsdl:input message="tns:consultaHttpPostIn" />
      <wsdl:output message="tns:consultaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insere">
      <soap:operation soapAction="http://127.0.0.1/insere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <soap:operation soapAction="http://127.0.0.1/consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insere">
      <soap12:operation soapAction="http://127.0.0.1/insere" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <soap12:operation soapAction="http://127.0.0.1/consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="insere">
      <http:operation location="/insere" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <http:operation location="/consulta" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="insere">
      <http:operation location="/insere" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="consulta">
      <http:operation location="/consulta" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.0.6.91/web/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.0.6.91/web/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://10.0.6.91/web/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://10.0.6.91/web/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>